<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
  <ul id="sidebarnav">
    <li class="nav-small-cap">
      <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
      <span class="hide-menu">Expense</span>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link active" routerLink="/" (click)="collapseNavbar()" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
        <span class="hide-menu">Add Expense</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" routerLink="/" (click)="collapseNavbar()" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
        <span class="hide-menu">Detail Report</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" routerLink="/" (click)="collapseNavbar()" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
        <span class="hide-menu">History Report</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" routerLink="/" (click)="collapseNavbar()" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
        <span class="hide-menu">Employee Report</span>
      </a>
    </li>
    <li class="nav-small-cap">
      <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
      <span class="hide-menu">Master</span>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" routerLink="/" (click)="collapseNavbar()" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
        <span class="hide-menu">Category</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" (click)="login()" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
        <span class="hide-menu">Login</span>
      </a>
    </li>
  </ul>
</nav>
